@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Inika:wght@400;700&family=Inter:wght@300;400;500;600;700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;0,800;1,100;1,600&family=Public+Sans:wght@100;200;300;400;500;600;700;800&family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400;1,700&family=Rosario:ital,wght@0,700;1,300;1,400;1,500;1,600&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Rosario', sans-serif;
}

:root {
    --black: #000;
    --white-extra: #FFFCFC;
    --white-other: #FFFAFA;
}

body {
    margin: 0;
}

.header {
    display: flex;
    align-items: center;
    background: var(--black);
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 10;
}

.header__logo {
    background-color: white;
}

.header__navbar {
    display: flex;
    width: 100%;
    justify-content: right;
    gap: 3rem;
    margin: 0 3rem;
}

.header__navbar a {
    text-decoration: none;
    color: var(--white-extra);
    font-size: 36px;
    font-style: italic;
    font-weight: 700;
    line-height: normal;
}

.gallery {
    display: flex;
    width: 100%;
    justify-content: center;
    overflow: hidden;
    align-items: center;
    gap: 1rem;
    margin: 12rem 0;
}

.central-photos {
    display: flex;
    flex-wrap: wrap;
    width: 55%;
    justify-content: center;
    gap: 2rem;
}

.side-photo {
    width: 20%;
    margin: 0.5rem 0.75rem;
}

.side-photo img {
    position: relative;
    width: 100%;
}

.central-photos div {
    width: 45%;
}

.central-photos img {
    width: 100%;
    position: relative;
}

.animateLeft {
    animation: galleryAnimateLeftside 2s linear 1s 1 forwards;
}

.animateRight {
    animation: galleryAnimateRightside 2s linear 1s 1 forwards;
}

.animation-duration {
    animation-duration: 3s;
}

@keyframes galleryAnimateLeftside {
    from {
        left: -400%;
        opacity: 0;
    }

    50% {
        left: -200%;
        opacity: 0.5;
    }

    to {
        left: 0%;
        opacity: 1;
    }
}

@keyframes galleryAnimateRightside {
    from {
        right: -400%;
        opacity: 0;
    }

    50% {
        right: -200%;
        opacity: 0.5;
    }

    to {
        right: 0%;
        opacity: 1;
    }
}

.services {
    display: flex;
    width: 100%;
    gap: 2rem;
    justify-content: space-between;
    align-items: center;
    margin: 3rem 0;
}

.service-types {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    gap: 1rem;
    max-width: 50%;
    margin: 0 auto;
}

.service {
    display: flex;
    flex-direction: column;
    width: 40%;
    align-items: center;
    margin: 0.5rem;
    gap: 1rem;
}

.service img {
    width: 80%;
}

.services__main-img img {
    width: 100%;
}

.service-name {
    color: var(--black);
    text-align: center;
    font-family: Rosario;
    font-size: 35px;
    font-style: italic;
    font-weight: 700;
}

.animateImage1Move {
    animation: rotateImage1 5s linear infinite;
}

.animateImage2Move {
    animation: rotateImage2 5s linear infinite;
}

.animateImage3Move {
    animation: rotateImage3 5s linear infinite;
}

.animateImage4Move {
    animation: rotateImage4 5s linear infinite;
}


@keyframes rotateImage1 {

    from,
    to {
        transform: translate(0, 0);
    }

    25% {
        transform: translate(110%, 0);
    }

    50% {
        transform: translate(110%, 110%);
    }

    75% {
        transform: translate(0, 110%);
    }
}

@keyframes rotateImage2 {

    from,
    to {
        transform: translate(0, 0);
    }

    25% {
        transform: translate(0, 110%);
    }

    50% {
        transform: translate(-110%, 110%);
    }

    75% {
        transform: translate(-110%, 0);
    }
}

@keyframes rotateImage3 {

    from,
    to {
        transform: translate(0, 0);
    }

    25% {
        transform: translate(-110%, 0);
    }

    50% {
        transform: translate(-110%, -110%);
    }

    75% {
        transform: translate(0, -110%);
    }
}

@keyframes rotateImage4 {

    from,
    to {
        transform: translate(0, 0);
    }

    25% {
        transform: translate(0, -110%);
    }

    50% {
        transform: translate(110%, -110%);
    }

    75% {
        transform: translate(110%, 0);
    }
}

.experts__title {
    color: var(--black);
    text-align: center;
    font-family: Rosario;
    font-size: 70px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.experts {
    display: flex;
    justify-content: center;
    gap: 4rem;
    margin: 3rem;
}

.experts * {
    transition: all 0.3s linear;
}

.expert {
    width: 404px;
    height: 677px;
    position: relative;
    border-radius: 40px;
}

.expert img {
    width: 404px;
    height: 677px;
}



.left,
.right {
    display: flex;
    gap: 2rem;
    width: 50%;
}

.expert-photo-mer {
    background: url(../img/Meredith.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.expert-photo-jas {
    background: url(../img/Jason.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.expert-photo-ray {
    background: url(../img/Ryan.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.expert-photo-jam {
    background: url(../img/James.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.expert-name {
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 0;
    overflow: hidden;

    background-color: rgba(145, 100, 17, 0.5);
    border-radius: 0 0 40px 40px;

    color: var(--white-other);
    font-family: Volkhov;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.experts:hover .expert {
    filter: brightness(50%);
}

.experts .expert:hover {
    filter: none;
}

.expert:hover .expert-name {
    height: 154.57px;
}

textarea {
    resize: none;
    width: 100%;
    padding: 1rem;
}

.get-in-touch {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.get-in-touch-section {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.get-in-touch-title {
    width: 100%;
    color: var(--black);
    text-align: center;
    font-family: Rosario;
    font-size: 64px;
    font-style: italic;
    font-weight: 700;
    line-height: normal;
    margin: 1rem 0;
}

.get-in-touch-form {
    display: flex;
    gap: 1rem;
    width: 100%;
    flex-direction: column;
    background: #E5E5E5;
    border: 2rem solid #E5E5E5;
}

.name-email-inputs {
    display: flex;
    gap: 2rem;
    width: 100%;
}

.name-email-inputs p {
    width: 50%;
    margin: 0;
}

.name-email-inputs input {
    width: 100%;
    padding: 1rem;
}

.google-map {
    width: 35%;
}

.google-map iframe {
    width: 100%;
    height: 530px;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 4rem;
}

.contacts,
.open-hours,
.social {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social {
    align-items: flex-start;
}

.social div {
    margin: 0 4rem;
}

.contact-title {
    font-family: Rosario;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.contact-value {
    font-family: Rosario;
    font-size: 30px;
    font-style: italic;
    font-weight: 600;
    line-height: normal;
}

.footer p {
    text-align: center;
    font-family: Rosario;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.instagram::before {
    content: url(../img/insta.png);
    margin: 0.5rem;

}

.facebook::before {
    content: url(../img/facebook.png);
    margin: 0.5rem;
}

.twitter::before {
    content: url(../img/twitter.png);
    margin: 0.5rem;
    align-items: center;
}

@media (max-width: 1280px) {
    
    .header__navbar {
        flex-wrap: wrap;
        gap: 2rem;
        margin: 0 1rem;
    }
    .header__navbar a {
        font-size: 25;
    }
}

@media (max-width: 992px) {
    .gallery {
        flex-wrap: wrap;
    }

    .central-photos {
        width: 100%;
        order: 1;
    }

    .central-photos div {
        width: 45%;
    }

    .central-photos img {
        width: 100%;
    }

    .side-photo {
        width: 40%;
        order: 2;
        margin: 0.5rem 0.75rem;
    }

    .side-photo img {
        width: 100%;
    }

    .services {
        flex-direction: column;
    }

    .service-types {
        max-width: 100%;
        order: 2;
    }


    .services__main-img {
        order: 1;
        width: 100%;
    }

    .experts {
        flex-direction: column;
    }

    .left,
    .right {
        width: 100%;
    }

    .footer,
    .get-in-touch {
        flex-direction: column;
        align-items: center;
    }

    .get-in-touch-section {
        width: 90%;
        order: 2;
    }

    .google-map {
        width: 100%;
        text-align: center;
    }

    .google-map iframe {
        width: 500px;
        height: 500px;
        order: 1;
    }
}

@media (max-width: 768px) {
    .gallery {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    .central-photos {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        order: 1;
    }

    .central-photos div {
        width: 70%;
    }

    .side-photo {
        width: 70%;
    }

    .header__navbar {
        flex-wrap: wrap;
        gap: 1rem;
        margin: 0 1rem;
    }

    .header__navbar a {
        font-size: 20px;
    }

    .animation-duration {
        animation-duration: 2s;
    }

    .service-types {
        max-width: 100%;
        gap: 0;
    }

    .services__main-img {
        display: none;
    }

    .service-name {
        font-size: 25px;
    }

    .experts,
    .left,
    .right {
        flex-direction: column;
        align-items: center;

    }


    .expert:active .expert-name {
        height: 154.57px;
    }

    .footer,
    .get-in-touch {
        flex-direction: column;
        align-items: center;
    }

    .get-in-touch-section {
        width: 90%;
        order: 2;
    }

    .google-map {
        width: 100%;
        text-align: center;
    }

    .google-map iframe {
        width: 500px;
        height: 500px;
        order: 1;
    }
}